<div class="image container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="carousel-caption">
        <h1>Example headline.</h1>
      </div> -->
        <div class="container">
          <!-- <div class="container h-100" style="background-color: rgb(201, 241, 182)"></div> -->
          <div class="">
            <div class=" text-center">
              <h1 class="font-weight-light" style="color: white; font-family: Georgia, 'Times New Roman', Times, serif">
                <span style="background-color: orange;">AWS Solutions Architect Associate Course</span></h1>
              <h3 class="lead" style="color: white; "><span style="background-color: orange">Online
                  Training with Lab and Hands On</span></h3>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div style="background-color: rgb(206, 243, 132)">
  <img src="../assets/images/saa1.jpg" alt="test" class="img-responsive panel container-fluid ">
</div>
<br>
<div class="panel panel-success lead">
  <div class="panel-heading">Beginner to AWS? dont know anything about AWS? Worry not! no need to know anything about
    AWS! <br></div>
</div>
<!-- <div><img src="../assets/images/Fullstack.png" alt="FullStack" ></div> -->
<div class="panel panel-info lead">
  <div class="panel-heading"> Pass the AWS Certified Solutions Architect Certification. Complete AWS Certified Solutions
    Architect Associate Training!<br>
  </div>
</div>
<br>
<h3><strong>What is Cloud Computing?</strong></h3>
<p>
  Cloud computing is the on-demand delivery of compute power, database
  storage, applications, and other IT resources through a cloud services platform
  via the Internet with pay-as-you-go pricing. Whether you are running
  applications that share photos to millions of mobile users or you’re supporting
  the critical operations of your business, a cloud services platform provides rapid
  access to flexible and low-cost IT resources. With cloud computing, you don’t
  need to make large upfront investments in hardware and spend a lot of time on
  the heavy lifting of managing that hardware. Instead, you can provision exactly
  the right type and size of computing resources you need to power your newest
  bright idea or operate your IT department. You can access as many
  resources as you need, almost instantly, and only pay for what you use.
</p>
<p>
  Cloud computing provides a simple way to access servers, storage, databases
  and a broad set of application services over the Internet. A cloud services
  platform, such as Amazon Web Services, owns and maintains the networkconnected hardware required for these application
  services, while you provision
  and use what you need via a web application.
</p>
<h3><strong>About the AWS Cloud Computing</strong></h3>
<p>
  In 2006, Amazon Web Services (AWS) started to offer IT services to the market in the form of web services, which is
  nowadays known as cloud computing.
  With this cloud, we need not plan for servers and other IT infrastructure which takes up much of time in advance.
  Instead, these services can instantly spin up hundreds or thousands of servers in minutes and deliver results faster.
  We pay only for what we use with no up-front expenses and no long-term commitments, which makes AWS cost efficient.
</p>
<p>
  Today, AWS provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers multitude
  of businesses in 190 countries around the world.

</p>
<h3><strong>About the trainer</strong></h3>
<p>
  I'm Ananth, Senior software engineer, AWS Solutions architect, AWS Developer Associate with 7+ Years of Java/J2EE
  programming and IT operations support experience with major MNCs and banking clients across the world. I am here to
  share my knowledge and experience with the help of real world examples and scenarios for any one with basic IT skills
  and knowledge. I have learned and made my hands dirty with AWS and cleared all the associate level Certifications.
  <br><br>Please access below links to verify my certifications.
</p>

<a class="btn btn-info" role="button"
  href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2017-05-20&ci=AWS00231457" target="_blank">AWS
  Certified Developer Associate</a>
<a class="btn btn-info" role="button"
  href="https://www.certmetrics.com/amazon/public/badge.aspx?i=3&t=c&d=2017-06-26&ci=AWS00231457" target="_blank">AWS
  SysOps Administrator</a>
<a class="btn btn-info" role="button"
  href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-08-08&ci=AWS00231457" target="_blank">AWS
  Solutions Architect Associate</a>
  <div>
      <h3><span class="label label-success"> <span class="glyphicon glyphicon-list-alt"></span> Course Curriculum</span>
      </h3>
    </div>
<h3><strong>What Will You Learn from the course?  </strong></h3>
<ul>
  <li>
    <p>The AWS&nbsp;Fundamentals:&nbsp;IAM, EC2, Load Balancing, Auto Scaling, EBS, EFS, Route 53, RDS, ElastiCache, S3,
      CloudFront</p>
  </li>
  <li>
    <p>The AWS&nbsp;CLI:&nbsp;CLI setup, usage on EC2, best practices, SDK, advanced usage</p>
  </li>
  <li>
    <p>In Depth Database comparison:&nbsp;RDS,&nbsp;Aurora, DynamoDB, Neptune, ElastiCache, Redshift, ElasticSearch,
      Athena</p>
  </li>
  <li>
    <p>Monitoring, Troubleshooting &amp;&nbsp;Audit:&nbsp;AWS&nbsp;CloudWatch, CloudTrail</p>
  </li>
  <li>
    <p>AWS&nbsp;Integration &amp;&nbsp;Messaging:&nbsp;SQS, SNS, Kinesis</p>
  </li>
  <li>
    <p>AWS&nbsp;Serverless:&nbsp;AWS&nbsp;Lambda, DynamoDB, API&nbsp;Gateway, Cognito</p>
  </li>
  <li>
    <p>AWS&nbsp;Security best practices:&nbsp;KMS, SSM Parameter Store, IAM Policies</p>
  </li>
  <li>
    <p>VPC&nbsp;&amp;&nbsp;Networking in depth</p>
  </li>
  <li>
    <p>AWS&nbsp;Other Services Overview:&nbsp;CICD&nbsp;(CodeCommit, CodeBuild, CodePipeline, CodeDeploy),
      CloudFormation, ECS, Step Functions, SWF, EMR, Glue, OpsWorks, ElasticTranscoder, AWS&nbsp;Organizations,
      Workspaces, AppSync, Single Sign On (SSO)</p>
  </li>
  <li>
    <p>Discussion on Project and Certification
      </p>
  </li>
</ul>

<h3><strong>Pre-Requisites</strong></h3>
<ul>
    <li>Basic IT background</li>

  <li>Basics of Linux (if required, the same can be covered in the course also)</li>
</ul>

<div>
  <h3><span class="label label-success lead"> <i class="glyphicon glyphicon-tag">Price</i>- <i
        class="fa fa-inr">5000</i></span>
  </h3>
</div>