module.exports = "
<div class=\ "vertical-menu\">\n\t
    <ul id=\ "menu-java-tutorial\">\n\t\t
        <li id=\ "menu-item-8503\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-8503\">
            <a\n\t\t\ttitle=\ "Java programming language\"\n\t\t\trouterLink=\ "/java/JavaIntro\"\n\t\t\titemprop=\ "url\">Java --> Introduction</a>
        </li>\n\t\t
        <li id=\ "menu-item-10371\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-10371\">
            <a\n\t\t\trouterLink=\ "/java/jdk-jre-jvm\"\n\t\t\titemprop=\ "url\">Java --> JDK, JRE and JVM</a>
        </li>\n\t\t
        <li id=\ "menu-item-8485\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8485\">
            <a\n\t\t\ttitle=\ "ClassPath\"\n\t\t\trouterLink=\ "/java/java-classpath\"\n\t\t\titemprop=\ "url\">Java --> ClassPath</a>
        </li>\n\t\t
        <li id=\ "menu-item-10370\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-10370\">
            <a\n\t\t\trouterLink=\ "/java/java-variables\"\n\t\t\titemprop=\ "url\">Java --> Variables</a>
        </li>\n\t\t
        <li id=\ "menu-item-8500\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8500\">
            <a\n\t\t\ttitle=\ "Operators\"\n\t\t\trouterLink=\ "/java/operators-in-java\"\n\t\t\titemprop=\ "url\">Java --> Operators</a>
        </li>\n\t\t
        <li id=\ "menu-item-12085\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-page menu-item-12085\">
            <a\n\t\t\trouterLink=\ "/java/java-keywords\" itemprop=\ "url\">Java\n\t\t\t\t--> keywords</a>
        </li>\n\t\t
        <li id=\ "menu-item-8501\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8501\">
            <a\n\t\t\ttitle=\ "Data Types\"\n\t\t\trouterLink=\ "/java/data-types-in-java/\"\n\t\t\titemprop=\ "url\">Java --> Data Types</a>
        </li>\n\t\t
        <li id=\ "menu-item-8502\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8502\">
            <a\n\t\t\ttitle=\ "Primitive Types\"\n\t\t\trouterLink=\ "/java/primitive-data-types-in-java/\"\n\t\t\titemprop=\ "url\">Java --> Primitive Types</a>
        </li>\n\t\t
        <li id=\ "menu-item-11164\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-11164\">
            <a\n\t\t\trouterLink=\ "/java/java-wrapper-classes/\"\n\t\t\titemprop=\ "url\">Java --> Wrapper Classes</a>
        </li>\n\t\t
        <li id=\ "menu-item-8498\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8498\">
            <a\n\t\t\trouterLink=\ "/java/types-of-statements-in-java/\"\n\t\t\titemprop=\ "url\">Java --> Types of Statements</a>
        </li>\n\t\t
        <li id=\ "menu-item-12081\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-12081\">
            <a\n\t\t\trouterLink=\ "/java/control-flow-statements/\"\n\t\t\titemprop=\ "url\">Java --> Control Statements</a>
        </li>\n\t\t
        <li id=\ "menu-item-11470\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-page menu-item-11470\">
            <a\n\t\t\trouterLink=\ "/java/java-string/\" itemprop=\ "url\">Java\n\t\t\t\t--> String</a>
        </li>\n\t\t
        <li id=\ "menu-item-8488\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8488\">
            <a\n\t\t\ttitle=\ "How to create a class in Java\"\n\t\t\trouterLink=\ "/java/how-to-create-a-class-in-java/\"\n\t\t\titemprop=\ "url\">Java --> Create Class</a>
        </li>\n\t\t
        <li id=\ "menu-item-8508\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8508\">
            <a\n\t\t\ttitle=\ "java main method\"\n\t\t\trouterLink=\ "/java/main-method/\"\n\t\t\titemprop=\ "url\">Java --> main() Method</a>
        </li>\n\t\t
        <li id=\ "menu-item-10375\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-10375\">
            <a\n\t\t\trouterLink=\ "/java/java-comments/\"\n\t\t\titemprop=\ "url\">Java --> Comments</a>
        </li>\n\t\t
        <li id=\ "menu-item-8510\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8510\">
            <a\n\t\t\ttitle=\ "hashCode() and equals()\"\n\t\t\trouterLink=\ "/java/java-hashcode-equals-methods/\"\n\t\t\titemprop=\ "url\">Java --> hashCode() and equals()</a>
        </li>\n\t\t
        <li id=\ "menu-item-8486\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8486\">
            <a\n\t\t\ttitle=\ "System Properties\"\n\t\t\trouterLink=\ "/java/java-system-properties/\"\n\t\t\titemprop=\ "url\">Java --> System Properties</a>
        </li>\n\t\t
        <li id=\ "menu-item-8509\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8509\">
            <a\n\t\t\ttitle=\ "Pass-by-Value vs. Pass-by-Reference\"\n\t\t\trouterLink=\ "/java/java-is-pass-by-value-lets-see-how/\"\n\t\t\titemprop=\ "url\">Java --> Pass-by-Value</a>
        </li>\n\t\t
        <li id=\ "menu-item-8504\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8504\">
            <a\n\t\t\ttitle=\ "32-bit vs. 64-bit Java\"\n\t\t\trouterLink=\ "/java/java-computing-architecture\"\n\t\t\titemprop=\ "url\">Java --> 32-bit vs. 64-bit</a>
        </li>\n\t\t
        <li id=\ "menu-item-8505\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8505\">
            <a\n\t\t\ttitle=\ "java.exe vs javaw.exe\"\n\t\t\trouterLink=\ "/java/difference-between-java-exe-and-javaw-exe/\"\n\t\t\titemprop=\ "url\">Java --> java.exe vs javaw.exe</a>
        </li>\n\t\t
        <li id=\ "menu-item-8506\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8506\">
            <a\n\t\t\ttitle=\ "Generate Bytecode\"\n\t\t\trouterLink=\ "/java/how-to-view-generate-bytecode-for-a-java-class-file/\"\n\t\t\titemprop=\ "url\">Java --> Generate Bytecode</a>
        </li>\n\t\t
        <li id=\ "menu-item-8511\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8511\">
            <a\n\t\t\trouterLink=\ "/java/little-endian-and-big-endian-in-java/\"\n\t\t\titemprop=\ "url\">Java --> Little-Endian vs Big-Endian</a>
        </li>\n\t\t
        <li id=\ "menu-item-10091\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-10091\">
            <a\n\t\t\trouterLink=\ "/java/correctly-compare-float-double/\"\n\t\t\titemprop=\ "url\">Java --> Compare floats</a>
        </li>\n\t\t
        <li id=\ "menu-item-8487\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8487\">
            <a\n\t\t\ttitle=\ "Static Import\"\n\t\t\trouterLink=\ "/java/static-import-declarations-in-java/\"\n\t\t\titemprop=\ "url\">Java --> Static Import</a>
        </li>\n\t\t
        <li id=\ "menu-item-8507\"\n\t\t\tclass=\ "menu-item menu-item-type-post_type menu-item-object-post menu-item-8507\">
            <a\n\t\t\ttitle=\ "Wrapper Classes Internal Caching\"\n\t\t\trouterLink=\ "/java/internal-caching-in-wrapper-classes/\"\n\t\t\titemprop=\ "url\">Wrapper Class Internal Caching</a>
        </li>\n\t</ul>\n</div>"