module.exports = "
<div *ngIf=\ "Java\">
    <app-javamenu></app-javamenu>
</div>\n
<div *ngIf=\ "aws\">
    <app-awsmenu></app-awsmenu>
</div>\n
<div *ngIf=\ "javawithaws\">
    <app-javawithawsmenu></app-javawithawsmenu>
</div>\n
<div *ngIf=\ "devops\">
    <app-devopsmenu></app-devopsmenu>
</div>\n
<div *ngIf=\ "devopsinaws\">
    <app-awsdevopsmenu></app-awsdevopsmenu>
</div>\n
<div *ngIf=\ "devopsinaws\">
    <app-awsdevopsmenu></app-awsdevopsmenu>
</div>\n
<div *ngIf=\ "usefullinks\"></div>"