<div class="image container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="carousel-caption">
          <h1>Example headline.</h1>
        </div> -->
        <div class="container">
          <!-- <div class="container h-100" style="background-color: rgb(201, 241, 182)"></div> -->
          <div class="">
            <div class=" text-center">
              <h1 class="font-weight-light" style="color: white; font-family: Georgia, 'Times New Roman', Times, serif">
                <span style="background-color: orange;">AWS Solutions Architect Associate Course</span></h1>
              <h3 class="lead" style="color: white; "><span style="background-color: orange;">Online
                  Training with Lab and Hands On</span></h3>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div style="background-color: rgb(206, 243, 132)">
  <img src="../assets/images/aws-ccp.jpg" alt="test" class="img-responsive panel container-fluid ">
</div>
<br>
<div class="panel panel-success lead">
  <div class="panel-heading">Beginner to AWS? dont know anything about AWS? Worry not! no need to know anything about
    AWS! <br></div>
</div>
<h3><strong>About the AWS Cloud Practitioner Online Training Course</strong></h3>
<p>AWS Certified Cloud Practitioner certification course is intended for individuals who wants to gain an overall
  understanding of AWS Cloud platform. It provides overview about AWS core services, security aspect, pricing and
  support services.
</p>
<p>
  AWS Certified Cloud Practitioner certification course is intended for individuals who wants to gain an overall
  understanding of AWS Cloud platform. It provides overview about AWS core services, security aspect, pricing and
  support services.

  This overall understanding will further help individuals to evaluate on how AWS proves to be beneficial both in
  individual as well as organizational's goals.</p>

<div>
  <h3><span class="label label-success"> <span class="glyphicon glyphicon-list-alt"></span> Course Curriculum</span>
  </h3>
  <h3><strong>What Will You Learn from the course?</strong></h3>
  <ul>
    <li><strong>You will have high level overview on what AWS Cloud is all about.</strong></li>
    <li><strong>You will be ready to give the AWS Cloud Practitioner certification exam.</strong></li>
  </ul>
  <h3><strong>Pre-Requisites</strong></h3>
  <ul>
    <li> no prerequisites.</li>
  </ul>
  <h3><strong>Who this course is for:</strong></h3>
  <ul>
    <li> Those intending to gain AWS Certified Cloud Practitioner certification</li>
    <li>Those who need to gain high level overview of Amazon Web Services </li>
  </ul>
  <div>
    <h3><span class="label label-success lead"> <i class="glyphicon glyphicon-tag">Price</i>- <i
          class="fa fa-inr">2000</i></span>
    </h3>
  </div>