module.exports = "
<div class=\ "container\">\n\t
    <p>\n\t\tAWS provides a set of flexible services designed to enable companies\n\t\tto more rapidly and reliably build and deliver products using AWS and\n\t\tDevOps practices. These services simplify provisioning and managing\n\t\tinfrastructure, deploying
        application code, automating software\n\t\trelease processes, and monitoring your application and infrastructure\n\t\tperformance. DevOps is the combination of cultural philosophies,\n\t\tpractices, and tools that increases an organizations ability
        to\n\t\tdeliver applications and services at high velocity: evolving and\n\t\timproving products at a faster pace than organizations using\n\t\ttraditional software development and infrastructure management\n\t\tprocesses. This speed enables organizations
        to better serve their\n\t\tcustomers and compete more effectively in the market.
        <a\n\t\t\thref=\ "https://aws.amazon.com/devops/what-is-devops/\">Learn more\n\t\t\tabout DevOps </a>\n\n\t</p>\n</div>\n\n\n"