module.exports = "
<div class=\ "issue-detail-wrapper\">\n\n
    <div class=\ "eproducts-fulfillment\">\n <span>Thank you for joining!</span>\n
        <h5>Access your <span>Pro+</span> Content below.</h5>\n </div>\n
    <div class=\ "latest-issue-detail\">\n <span class=\ "latest-issue-date\">September 2016</span>\n
        <h3>How to implement DevOps in AWS</h3>\n </div>\n
    <div class=\ "latest-issue-cover\">\n <img src=\ "https://cdn.ttgtmedia.com/Editorial/2016/09/sAWS_UntanglingDevOps_091316.png\">\n
        <div class=\ "ehandbook-sponsor\">\n <img src=\ "https://cdn.ttgtmedia.com/bitpipe/logos/logo_1398693571_102.gif\">\n
            <p>Sponsored by SearchAWS</p>\n </div>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n
        <div id=\ "rail-share-bar\">\n\n </div>\n </div>\n
    <div class=\ "latest-issue-summary ehandbook-summary\">\n
        <p>Implementing DevOps in AWS is serious work, but it might not be the daunting task it seems. AWS supports DevOps\n efforts by providing services to build, store and deploy applications. DevOps features are accessible in AWS,\n continuous integration
            and continuous delivery chief among them.\n </p>\n
        <p>There are many tools available in AWS that can help with DevOps, including CodeDeploy, CodePipeline and\n CodeCommit. There is also Amazon CloudWatch, which is critical for monitoring.\n Most organizations should employ a proof-of-concept use
            of the DevOps model and the technology to demonstrate\n that it can be integrated with existing development, testing, deployment and operations processes. IT teams need\n to know whether DevOps is appropriate for their organizations, especially
            if they have applications in the public\n cloud.</p>\n
        <p>Effectively employing DevOps allows a business to realize numerous efficiency-related benefits. If your\n organization is using AWS and you want to take advantage of DevOps, it is important to know the best ways to do\n so. This handbook provides
            guidance to IT pros looking for a place to start and identifies some of the many\n third-party tools available for tasks such as stack provisioning, test automation, configuration management and\n system monitoring.</p>\n
        <p></p>\n
        <div class=\ "ehandbook-toc\">\n
            <h4>Table Of Contents</h4>\n
            <ul>\n
                <li>What you need to know before deploying DevOps</li>\n
                <li>Take time for DevOps transition</li>\n
                <li>Third-party tools can make a difference</li>\n </ul>\n </div>\n </div>\n\n</div>"