<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center"
    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <!-- <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p> -->
      <!-- <p><span class="glyphicon glyphicon-phone"></span> +41 779728022, +91 8142243299</p> -->
      <table>
        <tr>
          <td><span class="glyphicon glyphicon-envelope"></span></td>
          <td>contact@learnMisroServices.com</td>
        </tr>
        <tr>
          <td><img src="../assets/images/whatsapp.png" alt="LearnMisroServices" height="25"></td>
          <td>+91 8142243299</td>
        </tr>
        <tr>
          <td>

            <a href="https://www.linkedin.com/in/ananth-reddy/" class="fa fa-linkedin" target="_blank" style="font-size:35px;"></a>
          </td>
          <td>
            <a href="https://t.me/AWSdevelopers" class="fa fa-telegram" target="_blank" style="font-size:70px;"></a>
          </td>
        </tr>
      </table>

    </div>
    <!-- <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a> -->



    <!-- <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div> -->
  </div>
</div>