<div class="image container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="carousel-caption">
        <h1>Example headline.</h1>
      </div> -->
        <div class="container" >
          <!-- <div class="container h-100" style="background-color: rgb(201, 241, 182)"></div> -->
          <div class="">
            <div class=" text-center">
              <h1 class="font-weight-light" style="color: white; font-family: Georgia, 'Times New Roman', Times, serif"><span  style="background-color: orange;">AWS Certified Developer Course</span></h1>
                <h3 class="lead" style="color: white; "><span  style="background-color: orange;">Online Training with Lab and Hands On</span></h3>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>
<div style="background-color: rgb(206, 243, 132)">
  <img src="../assets/images/dev.jpeg" alt="test"
    class="img-responsive panel container-fluid ">
</div>
<br>
<div class="panel panel-success lead">
  <div class="panel-heading"> Learn how to develop and deploy FullStack applications on AWS.<br></div>
</div>
<!-- <div><img src="../assets/images/Fullstack.png" alt="FullStack" ></div> -->
<div class="panel panel-info lead">
  <div class="panel-heading"> This course will teach you on how to develop and deploy fullstack applications on AWS and
    help you to pass AWS Certified Developer Exam<br>
  </div>
</div>
<br>
<h3><strong>What is Cloud Computing?</strong></h3>
<p>
  Cloud computing is the on-demand delivery of compute power, database
  storage, applications, and other IT resources through a cloud services platform
  via the Internet with pay-as-you-go pricing. Whether you are running
  applications that share photos to millions of mobile users or you’re supporting
  the critical operations of your business, a cloud services platform provides rapid
  access to flexible and low-cost IT resources. With cloud computing, you don’t
  need to make large upfront investments in hardware and spend a lot of time on
  the heavy lifting of managing that hardware. Instead, you can provision exactly
  the right type and size of computing resources you need to power your newest
  bright idea or operate your IT department. You can access as many
  resources as you need, almost instantly, and only pay for what you use.
</p>
<p>
  Cloud computing provides a simple way to access servers, storage, databases
  and a broad set of application services over the Internet. A cloud services
  platform, such as Amazon Web Services, owns and maintains the networkconnected hardware required for these application
  services, while you provision
  and use what you need via a web application.
</p>
<h3><strong>About the AWS Cloud Computing</strong></h3>
<p>
  In 2006, Amazon Web Services (AWS) started to offer IT services to the market in the form of web services, which is
  nowadays known as cloud computing.
  With this cloud, we need not plan for servers and other IT infrastructure which takes up much of time in advance.
  Instead, these services can instantly spin up hundreds or thousands of servers in minutes and deliver results faster.
  We pay only for what we use with no up-front expenses and no long-term commitments, which makes AWS cost efficient.
</p>
<p>
  Today, AWS provides a highly reliable, scalable, low-cost infrastructure platform in the cloud that powers multitude
  of businesses in 190 countries around the world.

</p>
<h3><strong>About the trainer</strong></h3>
<p>
  I'm Ananth, Senior software engineer, AWS Solutions architect, AWS Developer Associate with 7+ Years of Java/J2EE
  programming and IT operations support experience with major MNCs and banking clients across the world. I am here to
  share my knowledge and experience with the help of real world examples and scenarios for any one with basic IT skills
  and knowledge. I have learned and made my hands dirty with AWS and cleared all the associate level Certifications.
  <br><br>Please access below links to verify my certifications.
</p>

<a class="btn btn-info" role="button"
  href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2017-05-20&ci=AWS00231457" target="_blank">AWS
  Certified Developer Associate</a>
<a class="btn btn-info" role="button"
  href="https://www.certmetrics.com/amazon/public/badge.aspx?i=3&t=c&d=2017-06-26&ci=AWS00231457" target="_blank">AWS
  SysOps Administrator</a>
<a class="btn btn-info" role="button"
  href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-08-08&ci=AWS00231457" target="_blank">AWS
  Solutions Architect Associate</a>

<h3><strong>About the AWS Developer Online Training Course</strong></h3>
<p>The AWS Developer Online Training Course starts from the basics of &#8220;what Cloud Computing is&#8221; and deep
  dives into some of the commonly used and popular services like EC2, S3, DynamoDB, Identity and Access Management, VPC,
  AutoScaling and others. The individual services by themselves are powerful, but the strength of AWS is when the
  services work together in tandem. Once we get familiar with the individual services, the next step in the course is to
  explore how they work together to build highly available, secure, scalable and fault tolerant applications in the
  Cloud.</p>
<p>The course is a mix of theory and practicals, with priority on the practicals. Also, there would be assignments after
  each and every module. Finally, we would conclude the training with project and tips and tricks on how to crack the
  AWS Certification.</p>
 
    <div>
        <h3><span class="label label-success"> <span class="glyphicon glyphicon-list-alt"></span> Course Curriculum</span>
        </h3>
<h3><strong>What Will You Learn from the course?</strong></h3>
<ul>
  <li><strong>Introduction to Cloud and AWS</strong></li>

  <li><strong>Amazon EC2</strong></li>

  <li><strong>Object Storage Options</strong></li>

  <li><strong>Security Management in AWS</strong></li>

  <li><strong>Load Balancing, Auto-Scaling and Route 53</strong></li>

  <li><strong>Networking and Monitoring Services</strong></li>

  <li><strong>AWS Elastic Beanstalk</strong></li>

  <li><strong>AWS CICD: CodeCommit, CodePipeline, CodeBuild, CodeDeploy</strong></li>

  <li><strong>AWS Serverless: Lambda, DynamoDB, API Gateway & Cognito, SAM - Serverless Application Model</strong></li>

  <li><strong>Application Services</strong></li>

  <li><strong>AWS SDK and CLI</strong></li>

  <li><strong>Configuration Management and Automation</strong></li>

  <li><strong>Discussion on Project and Certification</strong></li>
</ul>
<h3><strong>Pre-Requisites</strong></h3>
<ul>
    <li>Basic IT background</li>
  <li>Basics of Linux (Not mandatory, same can be covered in the course also)</li>
  <li>Java and Angular(optional, can be followed along with the course)</li>
</ul>
<div>
    <h3><span class="label label-success lead"> <i class="glyphicon glyphicon-tag">Price</i>- <i class="fa fa-inr">5000</i></span>
    </h3>
  </div>

<div class="ult_pricing_table ">
  
  </div>
  <div class=" " style="font-weight:lighter;">
    <table width="859" class="table  table-bordered table-hover container-fluid">
      <tbody>
        <tr class="success">
          <td width="204"><strong>Module</strong></td>
          <td width="275"><strong>Topics</strong></td>
          <td width="317"><strong>Hands-on</strong></td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204"> Introduction to Cloud and AWS</td>
          <td width="275">
            <ul>
              <li>Cloud Computing</li>
              <li>Cloud Deployment and Service Models</li>
              <li>AWS Global Infrastructure and Benefits</li>
              <li>AWS Services</li>
              <li>Ways to access AWS Service</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Sign-up for AWS free-tier account</li>
              <li>Create a S3 bucket through and Upload data through Console</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204">Amazon EC2
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>Start, stop and terminate EC2 instances</li>
              <li>Security Group</li>
              <li>AMI</li>
              <li>ENI, Public and Private IP</li>
              <li>Storage services</li>
              <li>EBS and its types</li>
              <li>EFS</li>
              <li>Cost optimization</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Host your website inside EC2</li>
              <li>Create an AMI</li>
              <li>Create an Elastic IP</li>
              <li>Attaching an EBS volume externally</li>
              <li>Create a snapshot</li>
              <li>Mount EFS volumes</li>
            </ul>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204">Object Storage Options<p></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>S3 bucket – Creation, Version Control, Security, Replication, Transfer Acceleration</li>
              <li>Storage classes in S3</li>
              <li>Life cycle policy in S3</li>
              <li>Cost optimization for S3</li>
              <li>CloudFront – Create and configure with S3</li>
              <li>Snowball</li>
              <li>Storage Gateway and its types</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Hosting a Static Website on Amazon S3</li>
              <li>Versioning in AWS S3</li>
              <li>Replicating data across regions</li>
              <li>S3 Transfer acceleration</li>
              <li>Accessing a static website through Cloud Front</li>
            </ul>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
        <tr>
          <td width="204">Security Management in AWS<p></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>User management through Identity Access Management (IAM)</li>
              <li>Various access policies across AWS Services</li>
              <li>API keys service access</li>
              <li>Best practices for IAM</li>
              <li>Access billing and create alerts on billing</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Create new users who can login to AWS console</li>
              <li>Create role for an application to access S3</li>
              <li>Create policies for new user to have either admin or limited privileges</li>
              <li>Credential rotation for IAM users</li>
              <li>Create API keys for accessing AWS Services</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204"> Load Balancing, Auto-Scaling and Route 53<p></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>Elastic Load Balancer and its types</li>
              <li>Comparison of different Load Balancers</li>
              <li>Auto-Scaling</li>
              <li>Components of Auto-Scaling</li>
              <li>Auto-Scaling policy</li>
              <li>Working of Route 53</li>
              <li>Various Routing Policies</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Create a Classic Load Balancer</li>
              <li>Work with Application Load Balancer and Auto-Scaling</li>
              <li>Auto-Scaling and Scaling policy</li>
              <li>Point a sub-domain to EC2 box in Route 53</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204"> Networking and Monitoring Services<p></p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>VPC – Benefits and Components</li>
              <li>CIDR Notations</li>
              <li>Network Access Control List v/s Security Groups</li>
              <li>NAT – Network Address Translation</li>
              <li>VPC peering</li>
              <li>AWS CloudWatch</li>
              <li>AWS CloudTrail</li>
              <li>Trusted Advisor</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Create a Non-default VPC and attach it to an EC2 instance</li>
              <li>Access Internet Inside Private Subnet Using NAT Gateway</li>
              <li>Connect two instances in different VPCs using VPC peering</li>
              <li>Monitor an EC2 instance using CloudWatch</li>
              <li>Enable CloudTrail and Store Logs in S3</li>
              <li>Explore the Trusted Advisor</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>

        <tr>
          <td width="204">AWS Elastic Beanstalk<p></p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>AWS Elastic Beanstalk - Section Introduction</li>
              <li>Elastic Beanstalk Overview (High level)</li>
              <li>EB First Environment</li>
              <li>EB Second Environment</li>
              <li>EB Deployment Modes</li>
              <li>EB Advanced Concepts</li>
            </ul>
            <p>&nbsp;</p>
          </td>
          <td width="317">
            <ul>
              <li>EB Deployment Modes Hands On</li>
              <li>EB First Environment Hands On</li>
              <li>EB Second Environmen Hands On</li>
              <li>EB Deployment Modes Hands On</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204">AWS CICD: CodeCommit, CodePipeline, CodeBuild, CodeDeploy<p></p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>AWS CICD - Section Introduction</li>
              <li>Introduction to CICD in AWS</li>
              <li>CodeCommit Overview</li>
              <li>CodePipeline Overview</li>
              <li>CodeBuild Overview</li>
              <li>CodeDeploy Overview</li>
              <li>AWS CodeStar</li>

            </ul>
            <p>&nbsp;</p>
          </td>
          <td width="317">
            <ul>
              <li>CodeCommit Hands On</li>
              <li>CodePipeline Hands On</li>
              <li>CodeBuild Hands On </li>
              <li>CodeDeploy Hands On</li>
              <li>Code Star Hands On</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204">AWS Serverless: Lambda, DynamoDB, API Gateway & Cognito, SAM - Serverless Application Model<p>
            </p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>AWS Lambda Overview</li>
              <li>DynamoDB Overview</li>
              <li>AWS API Gateway Overview </li>
              <li>API Gateway Mappings</li>
              <li>API Gateway Swagger</li>
              <li>API Gateway Others</li>
              <li>AWS Cognito Overview</li>
              <li>SAM Overview, SAM API Gateway,SAM DynamoDB</li>

            </ul>
            <p>&nbsp;</p>
          </td>
          <td width="317">
            <ul>
              <li>AWS Lambda - First Hands On</li>
              <li>DynamoDB Basics Hands On</li>
              <li>AWS API Gateway Hands On</li>
              <li>SAM Hands On</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204">Application Services <p></p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>AWS Simple Email Service (SES)</li>
              <li>AWS Simple Notification Service (SNS)</li>
              <li>AWS Simple Queue Service (SQS)</li>
            </ul>
            <p>&nbsp;</p>
          </td>
          <td width="317">
            <ul>
              <li>Send an email through AWS SES</li>
              <li>Send a notification through SNS</li>
              <li>Send an e-mail through Lambda when an object is added to S3</li>
              <li>Send a notification through Lambda when a message is sent to SQS</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204"> AWS SDK and CLI<p></p>
            <p>&nbsp;</p>
          </td>
          <td width="275">
            <ul>
              <li>AWS SDK</li>
              <li>AWS CLI</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Setting up AWS SDK for Java</li>
              <li>Creating AWS resources using Java</li>
              <li>Setting up AWS CLI</li>
              <li>Creating AWS resources using Commands</li>
            </ul>
          </td>
        </tr>



        <!-- <tr>
<td width="204"></td>
<td width="275"></td>
<td width="317"></td>
</tr> -->
        <!-- <tr>
<td width="204">9) Data Services and Analytics<p></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p></td>
<td width="275">
<ul>
<li>Amazon RDS and its benefits</li>
<li>Amazon Aurora</li>
<li>Amazon DynamoDB</li>
<li>ElastiCache</li>
<li>Amazon RedShift</li>
</ul>
</td>
<td width="317">
<ul>
<li>Storing an application data in MySQL DB using Relational Database Service (RDS)</li>
<li>Creating Tables, loading sample data and running queries in RedShift</li>
<li>Caching data in Redis</li>
</ul>
</td>
</tr> -->
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204"> Configuration Management and Automation</td>
          <td width="275">
            <ul>
              <li>AWS CloudFormation</li>
              <li>AWS OpsWorks – OpsWorks for Chef Automate, OpsWorks for Stack, OpsWorks for Puppet Enterprises</li>
              <li>AWS Elastic Beanstalk</li>
              <li>Differentiate between CloudFormation, OpsWorks, and Beanstalk</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <li>Installation of LAMP server in EC2 through CloudFormation</li>
              <li>Deploy a Web Application using Beanstalk</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
        <tr>
          <td width="204"> Discussion on Project and Certification</td>
          <td width="275">
            <ul>
              <li>Full stack application deployment using SpringBoot and angular</li>
              <li>Discussion on AWS certified developer associate</li>
            </ul>
          </td>
          <td width="317">
            <ul>
              <img src="../assets/images/spring_angular.png" alt="LearnMisroServices" height="150" width="300"
                class="img-responsive panel  ">
            </ul>
          </td>
        </tr>
        <tr>
          <td width="204"></td>
          <td width="275"></td>
          <td width="317"></td>
        </tr>
      </tbody>
    </table>

  </div>
  <!--ult_price_features-->
  <!-- <div class="ult_clr"></div> -->

</div>